{% extends "navbar.html" %}

{% load static%}

{% block link %}
    <link rel="stylesheet" href="{% static 'home.css' %}">    
{% endblock link %}

{% block title %}
    看板 | V-Board
{% endblock title %}

{% block content %}
<div class="d-flex flex-column p-2 home_body">
    {% include 'board_cards.html' with boards=person_boards uid=uid%}
    <br>
    {% for team_boards in teams_boards %}
    {% include 'board_cards.html' with boards=team_boards uid=uid%}
    <br>
    {% endfor %}
</div>
{% include 'easy_add.html' with id='invite_teammates' button_name='邀请' placeholder='成员邮箱'%}
{% include 'easy_add.html' with id='change_team_name' button_name='更改' placeholder='新的团队名字'%}
<script src="{% static 'home.js' %}"></script>
{% endblock content %}