<!-- 添加邀请团队成员模态框 -->
<div class="modal fade" id="invite_teammates" tabindex="-1" role="dialog" data-target>
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="成员邮箱" name="email">
                </div>
                <div class="modal-footer py-2">
                    <button class="btn btn-outline-success btn-sm">邀请</button>
                </div>
        </div>
    </div>
</div>