body {
    margin-top: 7.5rem; /*保证导航栏不遮挡东西*/
}

/* 固定位置顶层显示宽度填充满 */
#board_top {
    position: fixed;
    z-index: 100;
    top: 3.5rem;
    width: 100%;
    background-color: white;
}

.list {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
}

.add_list {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
    height: 3rem;
}

.comment_avatar {
    width: 2.1rem; 
    height: 2.1rem;
    /* cursor:pointer; */
}

.comment_font {
    font-size: 0.88rem;
}

.board_title {
    max-width: 15rem;
}

.file {
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
}

.file_name {
    max-width: 6rem;
}