{% extends "navbar.html" %}

{% load static%}

{% block link %}
    <link rel="stylesheet" href="{% static 'board.css' %}">
{% endblock link %}

<!-- 标题长度大于5需要显示缩略符 -->
{% block title %}
    {% if board_info.name|length < 5 %}
        {{board_info.name}} | V-Board
    {% else %}
        {{board_info.name|slice:"5"}}... | V-Board
    {% endif %}
{% endblock title %}

{% block content %}
<!-- 看板的一些信息 -->
<div class="d-flex border-bottom border-secondary pb-2" id="board_top" data-type="{{kind}}" data-target="{{board_info.BID}}">
    <h5 class="font-weight-bold px-3 pointer ellipsis board_title" data-toggle="modal" data-target="#board_info_set" title="{{board_info.name}}"><span class="icon-calendar mr-3"></span>{{board_info.name}}</h5>
    <button type="button" class="btn btn-sm btn-outline-success ml-3 px-2" data-toggle="modal" data-target="#board_info_set">
        <span class="icon-note"></span> 看板信息
    </button>
    <button type="button" class="btn btn-sm btn-outline-info ml-3 px-2">
        <span class="icon-people"></span> 更改所属团队
    </button>
    <button type="button" class="btn btn-sm btn-outline-info ml-3 px-2" id="collapse_lists">
        <span class="icon-arrow-up"></span> 折叠列表
    </button>
    {% if isowner %}
    <button type="button" class="btn btn-sm btn-outline-danger ml-3 px-2" id="delete_board">
        <span class="icon-trash"></span> 删除看板
    </button>
    {% endif %}
</div>

<!-- 循环渲染列表 -->
<div class="d-flex flex-row mx-5 my-3 my-1">
    {% for list in lists%}
    {% include 'list.html' with list=list %}
    {% endfor %}
    <button class="p-1 m-2 btn btn-outline-info add_list" data-toggle="modal" data-target="#add_list">+ 添加另一个列表</button>
</div>

<!-- 所有需要的模态框 -->
{% include 'easy_add.html' with id='add_list' placeholder='列表标题' button_name='添加' %}
{% include 'easy_add.html' with id='add_card' placeholder='卡片标题' button_name='添加' %}
{% include 'board_info_set.html' with board_info=board_info isowner=isowner %}
{% include 'card_modal.html' %}

<script src="{% static 'board.js' %}"></script>
{% endblock content %}