<!-- 看板修改信息 模态框 -->
<div class="modal fade" id="card_modal" tabindex="-1" role="dialog" data-target data-parent>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title mt-1 ml-2 font-weight-bold">卡片信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-2">
                <!-- 卡片标题 + 卡片具体描述 + 侧边按钮 -->
                <div class="d-flex pb-3">
                    <div class="d-flex flex-column flex-grow-1 pr-1">
                        <div class="form-group my-1">
                            <label for="card_modal_title" class="col-form-label"><span class="icon-book-open pt-2"></span> 卡片标题</label>
                            <input type="text" id="card_modal_title" class="form-control form-control-sm font-weight-bold" value="卡片标题">
                        </div>
                        <div class="form-group my-1">
                            <label for="card_modal_desc" class="col-form-label"><span class="icon-list pt-2"></span> 卡片描述</label>
                            <textarea class="form-control form-control-sm" id="card_modal_desc" placeholder="卡片描述" style="height: 5.5rem;"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-column ml-2 border-left pl-2">
                        <button type="button" class="btn btn-sm btn-outline-warning m-1" id="move_card">
                            <span class="icon-direction"></span> 移动卡片至
                        </button>
                        <input type="file" style="display: none;" id="upload_file_input">
                        <button type="button" class="btn btn-sm btn-outline-info m-1" id="upload_file">
                            <span class="icon-cloud-upload"></span> 上传附件
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-success m-1">
                            <span class="icon-clock"></span> 截止日期
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger m-1" id="delete_card">
                            <span class="icon-trash"></span> 删除卡片
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary m-1" data-target="#collapse_comments" data-toggle="collapse" id="fold_comment">
                            <span class="icon-trash"></span> 折叠评论
                        </button>
                    </div>
                </div>
                <p data-target="#collapse_files" data-toggle="collapse"><span class="icon-paper-clip"></span> 附件 <span class="icon-arrow-down"></span></p>
                <div class="collapse pb-2" id="collapse_files">
                    <div class="container">
                        <div class="row">
                            <!-- 附件 -->
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapse_comments">
                    <div class="border-top border-info d-flex flex-column">
                        <h5 class="font-weight-bold py-2">评论</h5>
                        <div class="d-flex py-2">
                            <!-- 头像 -->
                            <img class="img-fluid rounded-circle mr-2 comment_avatar" src="{{avatar_path}}">
                            <textarea class="form-control form-control-sm flex-grow-1" placeholder="发表您的评论" style="height: 5rem;" id="comment_text"></textarea>
                            <button type="button" class="btn btn-sm btn-secondary ml-2" id="upload_comment">发表</button>
                        </div>
                        <div id="comments">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>