<!-- 团队成员对某一个卡片的评论 -->
<div class="d-flex py-2 border-top">
    <!-- 头像 -->
    <img class="img-fluid rounded-circle mr-2 comment_avatar" src="/media/avatar/2311349863@qq.com.jpg">
    <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex">
            <h6 class="mr-2">Joke-Lin</h6>
            <small class="mr-auto">发表于 2019-12-3 14:11</small>
            <button class="icon-trash border-0 transparent p-0 mr-2 delete_color"></button>
        </div>
        <div class="border rounded p-2 comment_font">
            <p class="my-1">这是一个前端123123123123123123123121312dasdasdasdasdasdasdasdas测试评论超出宽度</p>
            <p class="my-1">测试换行</p>
        </div>
    </div>
</div>