<!-- 团队成员对某一个卡片的评论 -->
<div class="d-flex py-2 border-top comment" data-target="{{comment.cm_id}}">
    <!-- 头像 -->
    <img class="img-fluid rounded-circle mr-2 comment_avatar" src="{{user.avatar}}">
    <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex">
            <h6 class="mr-2">{{user.name}}</h6>
            <small class="mr-auto">发表于 {{comment.time}}</small>
            {% if isowner%}
            <button class="icon-trash border-0 transparent p-0 mr-2 delete_color delete_comment" style="outline: none;"></button>
            {% endif %}
        </div>
        <div class="border rounded p-2 comment_font">
            {% for comment in comments%}
            <p class="my-1">{{comment}}</p>
            {% endfor %}
        </div>
    </div>
</div>