<!-- 简单的添加 一个输入框+一个按钮 -->
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" data-target>
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" class="form-control" placeholder={{placeholder}}>
            </div>
            <div class="modal-footer py-2">
                <button class="btn btn-outline-success btn-sm">{{button_name}}</button>
            </div>
        </div>
    </div>
</div>